@inject omg.Models.TrafficStats stats;
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<h3>@ViewData["Message1"]</h3>

<p>Use this area to provide additional information.</p>
<style>
    [class*="col-"] {
        background-color:lightblue;
        border: 1px solid blue;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            One
        </div>
        <div class="col-xs-6 col-md-4">
            Two
        </div>
        <div class="col-xs-6 col-md-4">
            Three
        </div>
        <div class="clearfix visible-xs">
        <div class="col-xs-12 col-md-4">
            Four
        </div>
        <div class="col-xs-12 col-md-4">
            Five
        </div>
    </div>    
</div>
